/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
config/firebase.php
app/Providers/AppServiceProvider.php

storage/hakeem-application-1ebaa9b3fe6d.json
